<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Exploring Mars </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars Exploration</h1>
      <p>All you need to know about mars news.</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new data!</a></p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="headlines"><h2>Latest Mars News:</h2></div>
        <div class="panel-title"><h4>{{ mars.newstitle }}</h4></div>
        <div id="details" class="panel-body">
          <p>{{mars.paragraph}}</p>
        </div>
      </div>
    </div>
    <div class="row">
    <div><h2>Featured Mars Image</h2></div>
      <div class="col-md-6"> 
        <div class="featured_image">
         <img src="{{mars.featured_image_url}}">
        </div>   
      </div> 
     
      <div class="col-md-6"> 
        <div class="featured_fact">
          <h3>Mars Facts:{{ mars.facts | safe}}</h3>
    
        </div>   
      </div>
    </div>
    <div class="row">
     
      <div class="col-md-12">
        <div class="sub-section"><h2>Mars Hemispheres</h2></div>
      </div>
    <div class="row">
      {% 
        
        for   hemisphere in mars.hemispheres %}
      <div class="col-md-3">
        <div > <img src="{{ hemisphere.img_url | safe }}"></div>
        <div > <h3>{{ hemisphere.title | safe }}</h3></div>
      </div>
      {% endfor %}
    </div>
  </div>
   
</body>

</html>
