<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Exploring Mars </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Visit the Mars Exploration</h1>
      <p>All you can see mars</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <img src="https://marshemispheres.com/images/full.jpg" alt="mars">
    <h2>The typical mars:</h2>
    <h3>Headlines: {{ mars.newstitle }}</h3>
    <h3>Details: {{ mars.paragraph}}</h3>
  </div>
  </div>
</body>

</html>
